<CascadingAuthenticationState>
    <Router AppAssembly="typeof(Program).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="routeData" DefaultLayout="typeof(Layout.MainLayout)">
                <NotAuthorized>
                    <LayoutView Layout="typeof(Layout.BlankLayout)">
                        <RedirectToLogin />
                    </LayoutView>
                </NotAuthorized>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="routeData" Selector="h1" />
        </Found>

        <NotFound>
            <LayoutView Layout="typeof(Layout.BlankLayout)">
                <PageTitle>Not found</PageTitle>

                <div class="auth-layout">
                    <div class="alert alert-danger" role="alert">
                        Sorry, there's nothing at this address.
                    </div>
                </div>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>